<section class="registration-block">
    <div class="title-block ">
        <p class="large-txt">Registration</p>
    </div> 
    <form [formGroup]="registrationForm" (ngSubmit)="registerUser()" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="login" class="col-sm-5 control-label text-muted">Login</label>
            <div class="col-sm-6">
                <input id="login" type="text" class="form-control" formControlName="login">
                <div *ngIf="registrationForm.controls['login'].touched && registrationForm.controls['login'].errors">
                    <div 
                        *ngIf="registrationForm.controls['login'].errors.required"
                        class="alert alert-danger">Login is required.</div>
                    <div 
                        *ngIf="registrationForm.controls['login'].errors.minlength"
                        class="alert alert-danger">
                            Login length must be {{registrationForm.controls['login'].errors.minlength.requiredLength}} or more symbols.
                    </div>
                    <div 
                        *ngIf="registrationForm.controls['login'].errors.maxlength"
                        class="alert alert-danger">Login length must be less than {{registrationForm.controls['login'].errors.maxlength.requiredLength}} symbols.</div>    
                    <div 
                        *ngIf="registrationForm.controls['login'].errors.checkCorrectIdentifier"
                        class="alert alert-danger">Login contains wrong symbols.</div>    
                </div>      
            </div>
        </div> 
         <div class="form-group">
            <label for="name" class="col-sm-5 control-label text-muted">Name</label>
            <div class="col-sm-6">
                <input id="name" type="text" class="form-control" formControlName="name">
                <div *ngIf="registrationForm.controls['name'].touched && registrationForm.controls['name'].errors">
                    <div 
                        *ngIf="registrationForm.controls['name'].errors.minlength"
                        class="alert alert-danger">
                            Name length must be {{registrationForm.controls['name'].errors.minlength.requiredLength}} or more symbols.
                    </div>
                    <div 
                        *ngIf="registrationForm.controls['name'].errors.maxlength"
                        class="alert alert-danger">Name length must be less than {{registrationForm.controls['name'].errors.maxlength.requiredLength}} symbols.</div>    
                    <div 
                        *ngIf="registrationForm.controls['name'].errors.checkCorrectIdentifier"
                        class="alert alert-danger">Name contains wrong symbols.</div>        
                </div>  
            </div>
        </div> 
        <div class="form-group">
            <label for="email"  class="col-sm-5 control-label text-muted">Email</label>
            <div class="col-sm-6">
                <input id="email" type="text" class="form-control" formControlName="email">
                <div *ngIf="registrationForm.controls['email'].touched && registrationForm.controls['email'].errors">
                    <div 
                        *ngIf="registrationForm.controls['email'].errors.required"
                        class="alert alert-danger">Email is required.</div>
                    <div 
                        *ngIf="registrationForm.controls['email'].errors.checkCorrectEmail"
                        class="alert alert-danger">Email hasn't incorrect format.</div>    
                </div>      
            </div>
        </div>
        <div  formGroupName="passwordgroup">
            <label for="password" class="col-sm-5 control-label text-muted">Password</label>
            <div class="col-sm-6">
                <input id="password" type="password" class="form-control" formControlName="password">
                <div *ngIf="registrationForm.get('passwordgroup').get('password').touched && registrationForm.get('passwordgroup').get('password').errors">

                    <div 
                        *ngIf="registrationForm.get('passwordgroup').get('password').errors.required"
                        class="alert alert-danger">Password is required.</div>
                    <div 
                        *ngIf="registrationForm.get('passwordgroup').get('password').minlength"
                        class="alert alert-danger">
                            Password length must be {{registrationForm.get('passwordgroup').get('password').errors.minlength.requiredLength}} or more symbols.
                    </div>
                    <div 
                        *ngIf="registrationForm.get('passwordgroup').get('password').errors.maxlength"
                        class="alert alert-danger">Password length must be less than {{registrationForm.get('passwordgroup').get('password').errors.maxlength.requiredLength}} symbols.</div>    
                </div>  
            </div>
        </div> 
        <div  formGroupName="passwordgroup">
            <label for="password_confirmation" class="col-sm-5 control-label text-muted">Password confirm</label>
            <div class="col-sm-6">
                <input id="password_confirmation" type="password" class="form-control" formControlName="password_confirmation">
            </div>
            <div 
                *ngIf="registrationForm.get('passwordgroup').get('password_confirmation').touched && registrationForm.get('passwordgroup').hasError('passwordConfirm')"
                class="alert alert-danger">Password fiels must match.</div>
        </div> 

        <div class="form-group">
            <div class="registration-block col-sm-11 pull-right">
                <button type="submit" class="btn btn-primary btn-lg"[disabled]="!registrationForm.valid">Register</button>
                <button class="btn btn-danger btn-lg" type="reset">Reset</button>
            </div>
        </div>
    </form>
</section>