.registration-block {
  width: 50%;
  position: relative;
  left: 20%;
  margin-top: 5%;
  text-align: center;  
}
.large-txt {
  font-size: 32px;
  font-weight: bold;
}
.title-block {
  margin-bottom: 50px;
}
button {
  margin-top: 25px;  
  margin-left: 10px;
}


