<div class="row"> 
    <div class="col-sm-10">
        <form [formGroup]="wordForm">
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="Word" formControlName="name">
                <div *ngIf="wordForm.controls['name'].touched && wordForm.controls['name'].errors">
                    <div 
                        *ngIf="wordForm.controls['name'].errors.required"
                        class="alert alert-danger">Word is required.</div>
                </div> 
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control translation" placeholder="Translation" formControlName="translation">
            </div>
            <span *ngIf="showDescriptionOfWord" class="col-sm-10">
                <input type="text" class="form-control transcription" placeholder="Transcription" formControlName="transcription">
                <input type="text" class="form-control" placeholder="Associations" formControlName="associate">
                <input type="text" class="form-control" placeholder="Phrase" formControlName="phrase">
                <select class="form-control" formControlName="theme_name">
                    <option [selected]="true"> {{word.theme}}</option>
                </select>
                <div class="col-sm-5 checkbox-wrap">
                <label class="form-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" formControlName="share">
                    <span>share</span>
                </label>
                </div>
                <div class="col-sm-5 checkbox-wrap">
                    <label class="form-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" formControlName="learned">
                        <span>learned</span>
                    </label>
                </div>    
                <div>
                    <img #image src="{{word?.image}}"  alt="image" class="img-thumbnail img-responsive">
                    <input type="file" class="btn btn-default btn-file" (change)="addImage($event)">
                </div>
                <div class="row">
                    <button type="button" (click)="deleteWord($event);"
                        class="btn btn-danger col-sm-3 col-sm-offset-1  pull-right">Delete</button>
                    <button type="button" (click)="changeWord($event);"
                        class="btn btn-success col-sm-3 col-sm-offset-1  pull-right">Save</button> &nbsp;
                    <button type="button" (click)="editWord($event);"
                        class="btn btn-success col-sm-3 col-sm-offset-1  pull-right">Edit</button> &nbsp;
                   
                </div>   
            </span>
            <div class="more-info" (click)="toggle()">
                <i class="pull-right glyphicon" 
                    [ngClass]="
                        { 
                            'glyphicon-chevron-down': !showDescriptionOfWord, 
                            'glyphicon-chevron-up': showDescriptionOfWord 
                        }">
                </i>
            </div>    
        </form>
    </div>    
</div>  
<!-- <p>Info: {{ w00dForm.value | json}}</p>  -->