.word {
  color: lightgreen;
}

.translation {
  color: orange; 
}

.transcription {
  color: darkgray; 
}

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

button {
  margin: 2%;
}

input, select, .transcription-panel {
  margin-top: 2%;
}

input[type=file] {
  width: 100%;  
}

input[type=checkbox] {
  transform: scale(1.5);
}

.checkbox-wrap {
  margin: 4%;
}

form {
  margin-top: 10px;  
  border-bottom: 1px darkgray solid; 
  padding: 20px;
}

i {
  color: lightblue;  
}