<section class="login-block">
    <div class="slogan-block ">
        <p class="text-muted">Store your learning foreign words <br><span>in</span></p>
        <p class="large-txt">your personal vocabulary</p>
    </div>   
    <div class="form-block">
        <form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="form-horizontal" novalidate>
            <div class="form-group">
                <label for="login" class="col-sm-4 control-label text-muted">Login</label>
                <div class="col-sm-6">
                    <input 
                        id="login" 
                        type="text" 
                        class="form-control" 
                        formControlName="login">
                    <div *ngIf="loginForm.controls['login'].touched && loginForm.controls['login'].errors">
                        <div 
                            *ngIf="loginForm.controls['login'].errors.required"
                            class="alert alert-danger">Login is required.</div>
                        <div 
                            *ngIf="loginForm.controls['login'].errors.minlength"
                            class="alert alert-danger">
                                Login length must be {{loginForm.controls['login'].errors.minlength.requiredLength}} or more symbols.
                        </div>
                        <div 
                            *ngIf="loginForm.controls['login'].errors.maxlength"
                            class="alert alert-danger">Login length must be less than {{loginForm.controls['login'].errors.maxlength.requiredLength}} symbols.</div>    
                        <div 
                            *ngIf="loginForm.controls['login'].errors.checkCorrectIdentifier"
                            class="alert alert-danger">Login contains wrong symbols.</div>    
                    </div>        
                </div>
            </div>
            <div class="form-group">
                <label for="password"  class="col-sm-4 control-label text-muted">Password</label>
                <div class="col-sm-6">
                    <input 
                        id="password" 
                        type="password" 
                        class="form-control" 
                        formControlName="password">
                    <div 
                        *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched"
                        class="alert alert-danger">Password is required.</div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary btn-lg pull-right" [disabled]="!loginForm.valid">Login</button>
                </div>
            </div>
        </form>
    </div>
    <div class="registration-block col-sm-3 pull-right">
        <a routerLink="/registration" class="text-danger">or Registration</a>
    </div>
</section>
    
