.login-block {
  width: 50%;
  position: relative;
  left: 20%;
  margin-top: 5%;
}
.large-txt {
  font-size: 32px;
  font-weight: bold;
}
.slogan-block {
  width: 100%;
  text-align: center;  
}
.registration-block {
  margin-top: 50px; 
}
.form-block {
  margin-top: 70px;
}
p span {
  line-height: 4;  
}