<nav>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="#">User profile</a>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="/add">Add word</a>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="#">Change word</a>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="#">Find word</a>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="#">Common words</a>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="#">Words for today</a>
</nav> 