<nav>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="#">Vocabulary</a>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="/add-word">Add word</a>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="/find-word">Find word</a>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="/common-vocabulary">Common words</a>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="/remember-words">Words for today</a>
    <a class="btn btn-default btn-lg btn-responsive" role="button" routerLink="#">User profile</a>
</nav> 